@use "../../styles/variables/colors";
@use "../../styles/variables/fonts";

.select-block{
  position: relative;

  label{
    font-size: 1.4rem;
  }

  select{
    width: 100%;
    padding: 0 1.6rem;
    height: 5.6rem;
    margin-top: 0.8rem;
    background-color: colors.$input-background;
    border-radius: 0.8rem;
    border: 1px solid colors.$line-in-white;
    outline: none;
    font-size: 1.6rem;
    font-family: fonts.$archivo;
  }

  &+ .input-block, + .select-block{
    margin-top: 1.4rem;
  }

  &:focus-within::after{
    content: '';
    width: calc(100% - 3.2rem);
    height: 2px;
    background-color: colors.$primary-light;
    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 0;
  }
}

@media screen and (min-width: 700px){
  .select-block + .input-block{
    margin-top: 0;
  }
}
